* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #1a1a1a);
}

.container {
    justify-content: center;
    border: 1px solid maroon;
    padding: 20px;
    border-radius: 16px;
    background: rgb(109, 89, 51);
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

.container h2 {
    text-align: center;
    margin-bottom: 15px;
    color: maroon;
    font-size: 50px;
}

input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: rgb(94, 76, 44);
    box-shadow: 0px 3px 15px rgba(202, 191, 191, 0.1);
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    color: green;
    border-radius: 15px;
}

input::placeholder {
    color: green;
}

button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: maroon;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(225, 225, 225, 0.1);
    cursor: pointer;
}

.equalBtn {
    background-color: #fb7c14;
    color: white;
}

.operator {
    color: beige;
}
